---
openapi: 3.0.3
info:
  title: Digital Reception
  version: 1.0.0
servers:
- url: https://api.dreception.com
  description: Reseller API
paths:
  "/v1/r/list_api_keys":
    get:
      summary: list_api_keys
      tags:
      - Reseller API
      parameters:
      - name: key
        in: query
        schema:
          type: string
        example: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      responses:
        '200':
          description: Returns your API Keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  primary_key:
                    type: string
                  secondary_key:
                    type: string
              example:
                primary_key: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
                secondary_key: KTXKEhwIROxMfMwZ0G7a3wPLVJ7H69jb8blUoHQzsOqA
  "/v1/r/list_locations":
    get:
      summary: list_locations
      tags:
      - Reseller API
      parameters:
      - name: key
        in: query
        schema:
          type: string
        example: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      - name: reseller_organisation_id
        in: query
        schema:
          type: string
        example: '101'
      responses:
        '200':
          description: Returns a list of Location names and reseller_location_ids attached to the Organisation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    reseller_location_id:
                      type: string
              example:
              - name: Main building
                reseller_location_id: '22'
              - name: Other building
                reseller_location_id: '23'
  "/v1/r/list_organisations":
    get:
      summary: list_organisations
      tags:
      - Reseller API
      parameters:
      - name: key
        in: query
        schema:
          type: string
        example: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      responses:
        '200':
          description: Returns a list of your Organisations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type_of_organisation:
                      type: string
                    timezone:
                      type: string
                    reseller_organisation_id:
                      type: string
                    created_at:
                      type: string
                    locations:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          timezone:
                            type: string
                          regulator_reference:
                            type: string
                          reseller_location_id:
                            type: string
                          created_at:
                            type: string
                          usage_level:
                            type: string
                          autumna_integration:
                            type: boolean
                    users:
                      type: integer
              example:
              - name: Carehome
                type_of_organisation: Social Care
                timezone: London
                reseller_organisation_id: '101'
                created_at: '2021-08-14T22:35:03Z'
                locations:
                - name: Main building
                  timezone: London
                  regulator_reference: LA12341
                  reseller_location_id: '22'
                  created_at: '2021-08-14T22:35:03Z'
                - name: Other building
                  timezone: London
                  regulator_reference: LA23476
                  reseller_location_id: '23'
                  created_at: '2021-08-14T22:35:03Z'
                  usage_level: high
                  autumna_integration: false
                users: 2
              - name: School
                type_of_organisation: School
                timezone: Paris
                reseller_organisation_id: '102'
                created_at: '2021-08-14T22:35:03Z'
                locations:
                - name: North wing
                  timezone: London
                  regulator_reference: CQC12345
                  reseller_location_id: '25'
                  created_at: '2021-08-14T22:35:03Z'
                  usage_level: low
                  autumna_integration: true
                - name: South wing
                  timezone: London
                  regulator_reference: CQC23456
                  reseller_location_id: '26'
                  created_at: '2021-08-14T22:35:03Z'
                  usage_level: high
                  autumna_integration: true
                - name: West wing
                  timezone: Paris
                  regulator_reference: CQC34567
                  reseller_location_id: '33'
                  created_at: '2021-08-14T22:35:03Z'
                  usage_level: never
                  autumna_integration: false
                users: 1
  "/v1/r/refresh_api_key":
    post:
      summary: refresh_api_key
      tags:
      - Reseller API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                key:
                  type: string
            example:
              type: primary
              key: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      responses:
        '200':
          description: Refreshes one of your API Keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  primary_key:
                    type: string
                  secondary_key:
                    type: string
              example:
                primary_key: gMvf4W9D0EuuxieLwzznEgMfRp2hm__jxFvag6f6nBQA
                secondary_key: KTXKEhwIROxMfMwZ0G7a3wPLVJ7H69jb8blUoHQzsOqA
  "/v1/r/create_organisation":
    post:
      summary: create_organisation
      tags:
      - Reseller API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type_of_organisation:
                  type: string
                users_attributes:
                  type: array
                  items:
                    type: object
                    properties:
                      first_name:
                        type: string
                      last_name:
                        type: string
                      email:
                        type: string
                      access_level:
                        type: string
                reseller_organisation_id:
                  type: string
                key:
                  type: string
            example:
              name: Fellowship Care
              type_of_organisation: Social Care
              users_attributes:
              - first_name: John
                last_name: Smith
                email: john@smith.com
                access_level: admin
              reseller_organisation_id: '101'
              key: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      responses:
        '200':
          description: Creates a new Organisation
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  type_of_organisation:
                    type: string
                  timezone:
                    type: string
                  reseller_organisation_id:
                    type: string
                  created_at:
                    type: string
                  locations:
                    type: array
                    items:
                      nullable: true
                  users:
                    type: integer
              example:
                name: Fellowship Care
                type_of_organisation: Social Care
                timezone: London
                reseller_organisation_id: '101'
                created_at: '2021-08-14T22:35:03Z'
                locations: []
                users: 1
  "/v1/r/create_location":
    post:
      summary: create_location
      tags:
      - Reseller API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                regulator_reference:
                  type: string
                reseller_location_id:
                  type: string
                reseller_organisation_id:
                  type: string
                key:
                  type: string
            example:
              name: Alexander Fleming House
              regulator_reference: CQC45678
              reseller_location_id: '22'
              reseller_organisation_id: '101'
              key: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      responses:
        '200':
          description: Creates a new Location
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  type_of_organisation:
                    type: string
                  timezone:
                    type: string
                  reseller_organisation_id:
                    type: string
                  created_at:
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        timezone:
                          type: string
                        regulator_reference:
                          type: string
                        reseller_location_id:
                          type: string
                        created_at:
                          type: string
                  users:
                    type: integer
              example:
                name: Carehome
                type_of_organisation: Social Care
                timezone: London
                reseller_organisation_id: '101'
                created_at: '2021-08-14T22:35:03Z'
                locations:
                - name: Alexander Fleming House
                  timezone: London
                  regulator_reference: CQC45678
                  reseller_location_id: '22'
                  created_at: '2021-08-14T22:35:03Z'
                users: 1
  "/v1/r/check_email_exists":
    get:
      summary: check_email_exists
      tags:
      - Reseller
      parameters:
      - name: email
        in: query
        schema:
          type: string
        example: test@user100.com
      - name: key
        in: query
        schema:
          type: string
        example: zR7rsYew0Q_yLMk2jLgOvAthAf5n5q11TSYrRjO7aNjQ
      responses:
        '200':
          description: Returns false if the email is not taken
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
              example:
                result: false
